#menu-container {
  min-width: 1024px;
}

#menu-container .container {
  margin-top: 40px;
  margin-left: unset;
  float: left; 
  width: 60%;
}

#menu-container .login_form {
  right: 7%;
}

@media screen and (min-width: 0px) {
  
  #menu-container .container {
    width: 640px;
  }
  
  .hexagon2 {
    position: absolute;
    width: 100px;
    height: 150px;
    top: -85px;
  }
  
  .templatemo-hex-top1 {
    margin-top: 92px;
  }
  
}

@media screen and (min-width: 1280px) {

  #menu-container .container {
    width: 880px;
  }
  
  .hexagon2 {
    position: absolute;
    width: 150px;
    height: 225px;
    top: -85px;
  }
  
  .templatemo-hex-top1 {
    margin-top: 135px;
  }
}

@media screen and (min-width: 1550px) {
  
  #menu-container .container {
    min-width: 1130px;
  }
  
  .hexagon2 {
    position: absolute;
    width: 200px;
    height: 250px;
    top: -85px;
  }
  
  .templatemo-hex-top1 {
    margin-top: 180px;
  }
}
